name: build

on:
  push:
    branches: ['*']
    tags: ['v[0-9]+.[0-9]+.[0-9]+']

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - uses: actions/setup-node@v1
        with:
          node-version: 14
      - run: yarn cache clean --all
      - run: yarn install --network-concurrency 1
      - run: yarn lint
      - run: yarn build
      - run: yarn test
      - run: cd membership-proof
      - run: yarn install --network-concurrency 1
      - run: yarn test
